body {
  margin: auto;
  overflow: hidden;
  background: #a8e0f0;
  max-width: 800px;
  font-family: American Typewriter, sans-serif;
}



canvas { /*REGN*/
  position: fixed;
  background: #738293;
  top: 0;
  left: 0;
  z-index: -1;
}

canvas:first-of-type {
  box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
}

header {
  text-align: center;
}

h1 {
  color: white;
  font-family: SF Pro, serif;
  font-size: 300%;
} 

.weather-info {
	color: white;
	font-family: American Typewriter, sans-serif;
}

img {
	float: right;
	width: 50%;
  	height: 50%; 
  	padding: -200px;
  	margin-bottom: 20px;
  	position: relative;
  	top: -20px;
  	left: 10 px;
}


.sun {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: repeating-conic-gradient(
      from 0 at 100% 100%,
      rgba(255, 255, 255, 0.7) 0% 2deg,
      transparent 0 9deg
    ),
    radial-gradient(
      circle 150px at 100% 100%,
      white,
      yellow,
      lightyellow,
      rgba(46, 181, 229, 0.8)
    );
  background-color: #2eb5e5;
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}